<% @groups = AcGroup.where('tracker_id = ?', @issue.tracker_id) %>
<% custom_field_values = @issue.editable_custom_field_values %>

	<% if @groups.count > 0 %>
		<% if @project.module_enabled?(:agrupacion_de_campos) %>
			<% @groups.each do |group| %>
				<% if group.ac_fields.present? %>
					<fieldset>
						<legend><%= group.name %></legend>

						<% custom_field_values.each do |value| %>
							<% id_custom_field = value.custom_field.id %>
							<% if group.ac_fields.where("custom_field_id = ?",id_custom_field).present? %>
								<p><%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %></p>
							<% end %>
						<% end %>
					</fieldset><br>
				<% end %>
			<% end %>
		<% else %>
			<%= render :partial => 'issues/form_custom_fields' %>
		<% end %>
	<% end %>

