.table_groups_permissions{
	width: 250px;
}

.fieldset_fields{
	margin-top: 25px;
	margin-bottom: 10px;
	width: 600px;
}

.f_field{
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: rgba(98,141,182,0.1);

}

.p_field{
	margin: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.d_group{
	margin-left: 10px;
}

.d_field{
	float: left;
}

.d_field_priority, .d_field_width{
	margin-left: 15px;
	margin-right: 15px;
}

.d_field_delete{
	padding-top: 20px; 
}

.field_number_field, .group_number_field{
	width: 35px;
	text-align: center;
}

.btn_save_group{
	margin-left: 10px;
	margin-right: 5px;
}

.add_field, .delete_field{
	cursor: pointer;
}

.add-group{
	margin-top: -10px;
	margin-bottom: 5px;
}