.edit_field > label {
	text-align: right;
	width: 160px;
	padding-top: 3px;
	padding-right: 2px !important;
}

.edit_field > .string_cf,.edit_field > .int_cf,.edit_field > .float_cf{
	width: 100%;
}

.edit_field > .string_cf_exp{
	max-width: 85% !important;
}

.edit_field > select {
	width: 100% !important;
}

.fieldset_ac_group{
	float: left; 
	margin-top: 1%;
	margin-left: 10px;
}